.DS_Store
*.log

# Node
node_modules

# Build
.turbo
types/
dist/

# Expo
ios/
android/
.bundle/
.expo
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.metro-health-check*

# Next
.next

# Tests
coverage/

