@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gray-50: rgb(29, 29, 29);
  --gray-100: rgb(90, 90, 90);
  --gray-200: rgb(100, 100, 100);
  --gray-300: rgb(109, 109, 109);
  --gray-400: rgb(165, 165, 165);
  --gray-500: rgb(192, 192, 192);
  --gray-600: rgb(212, 212, 212);
  --gray-700: rgb(225, 225, 225);
  --gray-800: rgb(235, 235, 235);
  --gray-900: rgb(244, 244, 244);
  --gray-1000: rgb(251, 251, 251);
  --gray-1100: rgb(253, 253, 253);

  --green-50: rgb(30, 30, 0);
  --green-100: rgb(92, 94, 0);
  --green-200: rgb(102, 104, 0);
  --green-300: rgb(111, 113, 0);
  --green-400: rgb(168, 171, 0);
  --green-500: rgb(196, 199, 0);
  --green-600: rgb(216, 220, 0);
  --green-700: rgb(230, 234, 0);
  --green-800: rgb(240, 244, 0);
  --green-900: rgb(249, 253, 0);
  --green-1000: rgb(254, 255, 192);
  --green-1100: rgb(254, 255, 203);

  --orange-50: rgb(60, 11, 0);
  --orange-100: rgb(175, 32, 0);
  --orange-200: rgb(195, 36, 0);
  --orange-300: rgb(211, 39, 0);
  --orange-400: rgb(255, 127, 98);
  --orange-500: rgb(255, 171, 152);
  --orange-600: rgb(255, 199, 187);
  --orange-700: rgb(255, 217, 209);
  --orange-800: rgb(255, 230, 224);
  --orange-900: rgb(255, 241, 238);
  --orange-1000: rgb(255, 250, 249);
  --orange-1100: rgb(255, 252, 251);

  --teal-50: rgb(12, 32, 26);
  --teal-100: rgb(37, 100, 81);
  --teal-200: rgb(41, 112, 91);
  --teal-300: rgb(44, 121, 98);
  --teal-400: rgb(67, 183, 148);
  --teal-500: rgb(124, 207, 182);
  --teal-600: rgb(168, 223, 207);
  --teal-700: rgb(195, 233, 222);
  --teal-800: rgb(217, 241, 234);
  --teal-900: rgb(233, 247, 243);
  --teal-1000: rgb(247, 252, 251);
  --teal-1100: rgb(250, 253, 252);

  --pink-50: rgb(52, 13, 45);
  --pink-100: rgb(155, 39, 136);
  --pink-200: rgb(173, 43, 151);
  --pink-300: rgb(187, 47, 164);
  --pink-400: rgb(225, 133, 209);
  --pink-500: rgb(234, 172, 224);
  --pink-600: rgb(241, 200, 234);
  --pink-700: rgb(246, 217, 241);
  --pink-800: rgb(249, 230, 246);
  --pink-900: rgb(251, 241, 250);
  --pink-1000: rgb(254, 250, 253);
  --pink-1100: rgb(254, 252, 254);

  --blue-50: rgb(29, 21, 66);
  --blue-100: rgb(91, 67, 195);
  --blue-200: rgb(102, 81, 199);
  --blue-300: rgb(111, 91, 202);
  --blue-400: rgb(168, 156, 223);
  --blue-500: rgb(195, 186, 233);
  --blue-600: rgb(214, 208, 240);
  --blue-700: rgb(227, 223, 245);
  --blue-800: rgb(236, 234, 248);
  --blue-900: rgb(244, 243, 251);
  --blue-1000: rgb(251, 251, 254);
  --blue-1100: rgb(253, 253, 254);

  --slate-50: rgb(28, 28, 38);
  --slate-100: rgb(87, 87, 117);
  --slate-200: rgb(97, 97, 131);
  --slate-300: rgb(106, 106, 142);
  --slate-400: rgb(163, 163, 187);
  --slate-500: rgb(191, 191, 207);
  --slate-600: rgb(211, 211, 222);
  --slate-700: rgb(225, 225, 233);
  --slate-800: rgb(235, 235, 240);
  --slate-900: rgb(243, 243, 246);
  --slate-1000: rgb(251, 251, 252);
  --slate-1100: rgb(253, 253, 253);


}

[data-theme="light"] {
  --gray-50: rgb(253, 253, 253);
  --gray-100: rgb(251, 251, 251);
  --gray-200: rgb(244, 244, 244);
  --gray-300: rgb(235, 235, 235);
  --gray-400: rgb(225, 225, 225);
  --gray-500: rgb(212, 212, 212);
  --gray-600: rgb(192, 192, 192);
  --gray-700: rgb(165, 165, 165);
  --gray-800: rgb(109, 109, 109);
  --gray-900: rgb(100, 100, 100);
  --gray-1000: rgb(90, 90, 90);
  --gray-1100: rgb(29, 29, 29);

  --green-50: rgb(254, 255, 203);
  --green-100: rgb(254, 255, 192);
  --green-200: rgb(249, 253, 0);
  --green-300: rgb(240, 244, 0);
  --green-400: rgb(230, 234, 0);
  --green-500: rgb(216, 220, 0);
  --green-600: rgb(196, 199, 0);
  --green-700: rgb(168, 171, 0);
  --green-800: rgb(111, 113, 0);
  --green-900: rgb(102, 104, 0);
  --green-1000: rgb(92, 94, 0);
  --green-1100: rgb(30, 30, 0);

  --orange-50: rgb(255, 252, 251);
  --orange-100: rgb(255, 250, 249);
  --orange-200: rgb(255, 241, 238);
  --orange-300: rgb(255, 230, 224);
  --orange-400: rgb(255, 217, 209);
  --orange-500: rgb(255, 199, 187);
  --orange-600: rgb(255, 171, 152);
  --orange-700: rgb(255, 127, 98);
  --orange-800: rgb(211, 39, 0);
  --orange-900: rgb(195, 36, 0);
  --orange-1000: rgb(175, 32, 0);
  --orange-1100: rgb(60, 11, 0);

  --teal-50: rgb(250, 253, 252);
  --teal-100: rgb(247, 252, 251);
  --teal-200: rgb(233, 247, 243);
  --teal-300: rgb(217, 241, 234);
  --teal-400: rgb(195, 233, 222);
  --teal-500: rgb(168, 223, 207);
  --teal-600: rgb(124, 207, 182);
  --teal-700: rgb(67, 183, 148);
  --teal-800: rgb(44, 121, 98);
  --teal-900: rgb(41, 112, 91);
  --teal-1000: rgb(37, 100, 81);
  --teal-1100: rgb(12, 32, 26);

  --pink-50: rgb(254, 252, 254);
  --pink-100: rgb(254, 250, 253);
  --pink-200: rgb(251, 241, 250);
  --pink-300: rgb(249, 230, 246);
  --pink-400: rgb(246, 217, 241);
  --pink-500: rgb(241, 200, 234);
  --pink-600: rgb(234, 172, 224);
  --pink-700: rgb(225, 133, 209);
  --pink-800: rgb(187, 47, 164);
  --pink-900: rgb(173, 43, 151);
  --pink-1000: rgb(155, 39, 136);
  --pink-1100: rgb(52, 13, 45);

  --blue-50: rgb(253, 253, 254);
  --blue-100: rgb(251, 251, 254);
  --blue-200: rgb(244, 243, 251);
  --blue-300: rgb(236, 234, 248);
  --blue-400: rgb(227, 223, 245);
  --blue-500: rgb(214, 208, 240);
  --blue-600: rgb(195, 186, 233);
  --blue-700: rgb(168, 156, 223);
  --blue-800: rgb(111, 91, 202);
  --blue-900: rgb(102, 81, 199);
  --blue-1000: rgb(91, 67, 195);
  --blue-1100: rgb(29, 21, 66);

  --slate-50: rgb(253, 253, 253);
  --slate-100: rgb(251, 251, 252);
  --slate-200: rgb(243, 243, 246);
  --slate-300: rgb(235, 235, 240);
  --slate-400: rgb(225, 225, 233);
  --slate-500: rgb(211, 211, 222);
  --slate-600: rgb(191, 191, 207);
  --slate-700: rgb(163, 163, 187);
  --slate-800: rgb(106, 106, 142);
  --slate-900: rgb(97, 97, 131);
  --slate-1000: rgb(87, 87, 117);
  --slate-1100: rgb(28, 28, 38);
}

body {
  background-color: var(--slate-50);
  color: var(--gray-1000);
  max-width: 100vw;
}
* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 2px solid var(--blue-600);
  outline-offset: 0.4rem;
}
*:focus:not(:focus-visible) {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
