.NavigationArrow .iu-popover-arrow {
  background-color: #1d1d27;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.NavigationArrow:has(.iu-popover-content .nav-popover-li:first-child:hover)
  .iu-popover-arrow {
  background-color: #4a4a57;
}
